body {
  background-image: url(../assets/LP-HeroBG.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50vmax;

  overflow-x: hidden;
}

.btn-orange {
  background-color: #ff7133;
}

.btn-orange:hover {
  transition: 0.4s;
  background-color: #c95d2e;
}

.hero-text {
  margin-top: 12em;
}

@media (max-width: 992px) {
  body {
    background-size: 75%;
  }
  .hero-text {
    margin-top: 20em;
  }
}

#Tentang {
  margin-top: 17em;
  background-color: #69d2a3;
}

.container {
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.9;
  transition: 0.5s;
}

.container .card:hover .content {
  opacity: 1;
  transform: translateY(-20px);
}

.container .card .content .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 1.7em;
}

.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#Kontak {
  margin-top: 5em;
}

footer {
  margin-top: 18em;
}
